button {
    background: var(--font-color-primary);
    border-radius: 25px;
    border: 7px solid var(--font-color-primary);
    background: var(--background-secondary);
    clear: both;
    font-family: var(--font-primary);
    font-weight: bolder;
    font-size: 1rem;
    padding:0.8rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    margin:1rem;
};

button:active, button:hover {
        background-color: var(--font-color-link);
        border: 10px solid var(--font-color-primary);
        color: var(--font-color-secondary);
        font-weight: bolder;
    };

    .button {
        margin-left: 40%;
    }

    .button2 {
        margin-left: 0;
    }
    
@media only screen and (min-width: 500px) {
    
    button {
        font-weight: bolder;
        font-size: 1.7rem;
        padding-left:3rem;
        padding-right:3rem;
        margin:2rem;
    };


    .button {
        margin-left: 40%;
    };

}