
@media only screen and (min-width: 500px) {
    
button {
    background: var(--font-color-primary);
    border-radius: 25px;
    border: 4px solid var(--font-color-primary);
    background: var(--background-secondary);
    clear: both;
    font-family: var(--font-primary);
    font-weight: bolder;
    font-size: 1rem;
    padding:1.5rem;
    margin:2rem;
};

button:active, button:hover {
        background-color: var(--font-color-link);
        border: 10px solid var(--font-color-primary);
        color: var(--font-color-secondary);
        font-weight: bolder;
        -webkit-box-shadow: 17px 24px 71px 78px rgba(242,238,217,1);
        -moz-box-shadow: 17px 24px 71px 78px rgba(242,238,217,1);
        box-shadow: 17px 24px 71px 78px rgba(242,238,217,1);
    };

}