.card-body {
    border: none;
  };
  

  
@media only screen and (min-width: 500px) {

  .card-body {
    padding-left: 20%;
  }

  
  .card-body2 {
    padding-left: 10%;
    padding-right: 10%;

  }
}