    .column-image {
        float: left;
        width: 50%;
        background-color: var(--font-color-primary);
    };
      
@media only screen and (min-width: 500px) {

    .column {
        float: left;
        width: 50%;
    }
      
  };