.disclaimer {
    padding:0.5rem;
    padding-bottom: 1.7rem;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 500px) {
    .disclaimer {
        line-height: 2.5rem;
        padding-left:6rem;
        padding-right:6rem;
        padding-bottom: 3rem;
        margin-bottom: 4rem;

    }
  };