
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: 5rem;
    background: var(--font-color-primary);
}

@media only screen and (min-width: 500px) {
    header {
        max-height: 6.5rem;
    }
};