figure {
    background: var(--font-color-primary);
    margin-top:0;
    width: fit-content;
    height: fit-content;
}

.images {
    height: 7rem;
    width: 10rem;
    opacity: 85%;

}

.images {

    height:7rem;
    width: 10rem;

}

@media only screen and (min-width: 500px) {
    .images {
       height: 15rem;
       box-sizing:border-box;
       float: left;
       width: 20rem;
       text-align: center;
    }
}

@media only screen and (min-width: 500px) and (max-width: 699pc) {

    .images {
        height: 15rem;
        width: 20rem;
    }
    
};

@media only screen and (min-width: 700px) {
    .images {
        height: 25rem;
        width: 33rem;
    }
};

