figure {
    background: var(--font-color-primary);
    margin-top:0;
    width: fit-content;
    height: fit-content;
}

.images {
    height: 7rem;
    width: 11rem;
    opacity: 85%;
}

.images {

    height:7rem;
    width: 10rem;

}

@media only screen and (min-width: 500px) {
    .images {
       height: 15rem;
       box-sizing:border-box;
       float: center;
       width: 20rem;
    }
}

@media only screen and (min-width: 640px) and (max-width: 969pc) {

    .images {
        height: 15rem;
        width: 100%;
    }
    
};

@media only screen and (min-width: 970px) {
    .images {
        height: 25rem;
        padding-left: 3rem;
        padding-right: 3rem;

        width: 100%;
        
    }
};

