
input {
    font-size: 1.5rem;
    font-weight: bold;
    margin:0.5rem;
}

input:active { 
    border: 2px solid var(--font-color-primary);
    border-radius: 2px;
}

input[type=text] {
    color: var(--font-color-primary);
    background: transparent;
    font-weight: bold;
    font-size: 0.6rem;
}



@media only screen and (min-width: 500px) {
    input {
        font-size: 2rem;
        margin:2rem;
    };

    input[type=text] {
        font-family: var(--font-secondary);
        font-size: 2rem;
    }
    
}