p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

@media only screen and (min-width: 500px) {
    p {
        line-height: 3rem;
        font-size: 2rem;
    }

    section#paragraph2 {
        text-align:center;
    }
};

