section {
    background: var(--background-secondary);
    border: solid 1rem var(--font-color-primary);
    border-radius: 1.5rem;
    color:var(--font-color-primary);
    line-height: 2rem;
    padding:1rem;
    margin:1rem;
    margin-bottom: 3rem;
};

@media only screen and (min-width: 500px) {
    section {
        line-height: 3rem;
        padding:6rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        margin:5rem;
        margin-top: 1rem;
        margin-bottom: 6rem;
    }
};