section {
    background: var(--background-secondary);
    border: solid 1rem var(--font-color-primary);
    border-radius: 1.5rem;
    color:var(--font-color-primary);
    line-height: 3rem;
    padding:1.5rem;
    margin:1.5rem;
};

@media only screen and (min-width: 500px) {
    section {
        line-height: 3rem;
        padding:6rem;
        margin:7rem;
        margin-top: 1rem;
    }
};