
#span1:active, 
#span1:hover, #span2:active, 
#span2:hover, #span3:active, 
#span3:hover, #span4:active, 
#span4:hover {
    color: var(--font-color-link);
}


#span1:active, 
#span1:hover, #span2:active, 
#span2:hover, #span3:active, 
#span3:hover, #span4:active, 
#span4:hover {
    color: var(--font-color-secondary);
    text-decoration: underline;
    cursor: pointer;
}

#span3 {
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}


@media only screen and (min-width: 500px) {
    #span3 {
        font-size: 4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
};