h1 {
    color: var(--font-color-primary);
    font-family: var(--font-primary);
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 2rem;
    background-color: var(--background-primary);
};

h2 {
    font-size: 2rem;
    font-weight: bold;    
    margin:1rem;
    margin-top:2rem;
    margin-bottom:2rem;

};

h3 {
    font-size: 1.4rem;
    font-weight: bold;  
    line-height: 1.7;
    padding-top:3rem;
};

h4 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    margin:0; 
    padding:0;
    
};

#subtitle1, .subtitle2 {
    margin:0;
}

.subtitle5, .subtitle6 {
    font-size:1.3rem;
    padding-bottom:2.5rem;
    padding-top:2.5rem;


}

@media only screen and (min-width: 500px) {
    h1 {
        background-color: var(--background-secondary);
        font-size:4rem;
        letter-spacing: 0.3rem;
        margin: 0;
        padding: 7rem;

    };

    h2 {
        font-size: 4rem;
        line-height: 3;
    }
    
    h3 {
        font-size:3rem;
        letter-spacing: 0.3rem;
    };

    h4 {
        font-size: 2.5rem;
        line-height: 1.5;
        padding:3rem;
    };

    h5 {
        font-size: 2.6rem;
        font-weight: bold;
        padding:2rem;
    };

    .subtitle5 {
        font-size:2rem;
        padding:1.5rem;

    }

    .subtitle6 {
        font-size:3rem;
        font-weight: bold;
        padding:3.5rem;
    }
    
    
};

