h1 {
    color: var(--font-color-primary);
    font-family: var(--font-primary);
    font-size: 3rem;
    line-height: 4rem;
    margin: 2rem;
};

h2, h3 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
};

@media only screen and (min-width: 500px) {
    h1 {
        font-size:3rem;
        letter-spacing: 0.3rem;
        padding: 4rem;
        margin:3rem;
    };

    h2, h3 {
        font-size:3rem;
        letter-spacing: 0.3rem;
        padding:3rem;
    };
};

