//things applicable to all items: 

*, *::before, *::after {
    margin:0;
    line-height: 3rem;
    fill:var(--background-secondary);
};

body {
    background: var(--font-color-link);  
    color: var(--font-color-primary);
    font-family: var(--font-secondary);
    position: relative;
    text-align: center;
};

@media only screen and (min-width: 500px) {
    body {
        font-size: 1.5rem;
    };
};



p {
    font-family: var(--base-font-color);
    margin:0.5rem;
    padding:1rem;
    color: var(--base-font-color);
    font-family: var(--font-primary);
}

.links {
    font-family: var(--font-secondary); 
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color-second);
    font-family: var(--font-primary);
};



@media only screen and (min-width: 500px) {
    p {
        line-height: 1.7rem;
        padding:4rem;
        
    }
};