:root {
    --background-primary: #c5db98;

    --background-secondary: #fff8dc;

    --font-color-primary:#aa0058;

    --font-color-link: #01cbeb;

    --font-color-secondary: #421730;

    --font-primary: 'Salsa', cursive;

    --font-secondary: 'Rokkitt', serif;

    --font-tetrary: 'Amatic SC', cursive;

    --gradient-primary: linear-gradient(to right, var(--font-color-link), var(--background-primary));

}

