:root {
    --background-primary:#eadedaff;

    --background-secondary: rgb(250, 209, 194);

    --font-color-primary:#d90368ff;

    --font-color-link: #4dccbdff;

    --font-color-secondary: rgb(90, 0, 90);

    --font-primary: 'Salsa', cursive;

    --font-secondary: 'Rokkitt', serif;

    --font-tetrary: 'Amatic SC', cursive;

    --gradient-primary: linear-gradient(to right, var(--font-color-link), var(--background-primary));

}


