:root {
    --background-primary:#F9DBBD;

    --background-secondary:#FFD6D9;

    --font-color-primary: #A53860;

    --font-color-link: #00CECB;

    --font-color-secondary: #450920;

    --font-primary: 'Salsa', cursive;

    --font-secondary: 'Rokkitt', serif;

    --font-tetrary: 'Amatic SC', cursive;

    --gradient-primary: linear-gradient(to right, var(--font-color-link), var(--background-secondary));

}






