:root {
  --background-primary:#eadedaff;
  --background-secondary: rgb(250, 209, 194);
  --font-color-primary:#d90368ff;
  --font-color-link: #4dccbdff;
  --font-color-secondary: rgb(90, 0, 90);
  --font-primary: 'Salsa', cursive;
  --font-secondary: 'Rokkitt', serif;
  --font-tetrary: 'Amatic SC', cursive;
  --gradient-primary: linear-gradient(to right, var(--font-color-link), var(--background-primary));
}

*, *::before, *::after {
  margin: 0;
  text-align: center;
  line-height: 3rem;
  fill: var(--background-secondary);
}

body {
  background: var(--font-color-link);
  color: var(--font-color-primary);
  font-family: var(--font-secondary);
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 1.5rem;
  }
}

p {
  font-family: var(--base-font-color);
  margin: 0.5rem;
  padding: 1rem;
  color: var(--base-font-color);
  font-family: var(--font-primary);
}

aside {
  background: var(--background-secondary);
  border: solid 1rem var(--font-color-secondary);
  border-radius: 1rem;
  color: var(--font-color-secondary);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}

@media only screen and (min-width: 500px) {
  aside {
    padding: 6rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 5rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
}

button {
  background: var(--font-color-primary);
  border-radius: 25px;
  border: 7px solid var(--font-color-primary);
  background: var(--background-secondary);
  clear: both;
  font-family: var(--font-primary);
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem;
}

button:active, button:hover {
  background-color: var(--font-color-link);
  border: 10px solid var(--font-color-primary);
  color: var(--font-color-secondary);
  font-weight: bolder;
}

.button {
  margin-left: 40%;
}

.button2 {
  margin-left: 0;
}

@media only screen and (min-width: 500px) {
  button {
    font-weight: bolder;
    font-size: 1.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 2rem;
  }
  .button {
    margin-left: 40%;
  }
}

.card-body {
  border: none;
}

@media only screen and (min-width: 500px) {
  .card-body {
    padding-left: 15rem;
  }
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--font-color-link);
  margin: 0.9rem;
  margin-top: 0.8rem;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--font-color-primary);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--font-color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-custom {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.container {
  text-align: left;
  padding-left: 3rem;
}

@media only screen and (min-width: 500px) {
  .checkbox {
    margin-top: 3rem;
  }
}

.column-image {
  float: left;
  width: 50%;
  background-color: var(--font-color-primary);
}

.column {
  line-height: 0.1;
}

@media only screen and (min-width: 500px) {
  .column {
    float: left;
    width: 50%;
  }
}

.disclaimer {
  padding: 0.5rem;
  padding-bottom: 1.7rem;
}

@media only screen and (min-width: 500px) {
  .disclaimer {
    line-height: 2.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
  }
}

div#total {
  font-weight: bold;
  line-height: 1.5;
  padding: 1.5rem;
}

div#total:active, div#total:hover {
  color: var(--font-color-primary);
  text-decoration: none;
}

fieldset {
  border: none;
  color: var(--font-color-secondary);
}

@media only screen and (min-width: 500px) {
  .form-control {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.form {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

@media only screen and (min-width: 500px) {
  .form {
    margin-bottom: 5rem;
  }
}

input {
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

input:active, input:hover {
  border: 5px solid var(--font-color-primary);
}

input[type=text] {
  color: var(--font-color-primary);
  background: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: var(--font-secondary);
}

@media only screen and (min-width: 500px) {
  input {
    font-size: 2rem;
    margin: 2rem;
  }
  input[type=text] {
    font-family: var(--font-secondary);
    font-size: 2rem;
  }
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  max-height: 5rem;
}

@media only screen and (min-width: 500px) {
  header {
    max-height: 6.5rem;
  }
}

figure {
  background: var(--font-color-primary);
  margin-top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.images {
  height: 7rem;
  width: 11rem;
  opacity: 85%;
}

.images {
  height: 7rem;
  width: 10rem;
}

@media only screen and (min-width: 640px) {
  .images {
    height: 15rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: center;
    width: 20rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 969pc) {
  .images {
    height: 15rem;
    width: 100%;
  }
}

@media only screen and (min-width: 970px) {
  .images {
    height: 25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
  }
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

@media only screen and (min-width: 500px) {
  label {
    font-size: 2rem;
  }
}

a {
  color: var(--font-color-secondary);
}

a:active, a:hover {
  color: var(--background-primary);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.link-image {
  color: var(--font-color-secondary);
}

.link-image:active, .link-image:hover {
  color: var(--background-secondary);
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: var(--font-color-secondary);
  font-family: var(--font-color-secondary);
  font-size: 1.5rem;
}

.link:active, .link:hover {
  color: var(--font-color-link);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  a {
    font-size: 1.7rem;
  }
  a:active, a:hover {
    font-size: 1.9rem;
    font-weight: bold;
    cursor: pointer;
  }
  .link {
    font-size: 3rem;
  }
}

.links-section {
  line-height: 0.6rem;
}

ul.help {
  list-style-position: inside;
  list-style-type: square;
  padding: 0;
}

a.link {
  font-size: 1.3rem;
  font-weight: bold;
}

a.link:active, a.link:hover {
  font-size: 1.3rem;
  font-weight: bolder;
}

.link-description {
  padding-top: 0;
}

@media only screen and (min-width: 500px) {
  a.link {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  a.link:active, a.link:hover {
    font-size: 2.2rem;
  }
  .link-description {
    font-size: 1.6rem;
  }
}

.navbar-home {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
}

.navbar-home:active, .navbar-home:hover {
  color: var(--background-secondary);
  display: inline;
  font-size: 1.7rem;
  list-style: none;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .navbar-home {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
  .navbar-home:active, .navbar-home:hover {
    font-size: 2.7rem;
  }
}

a {
  text-decoration: none;
}

li {
  color: var(--background-primary);
  font-size: 2rem;
  padding: 0.6rem;
  padding-top: 1.4rem;
  line-height: 0.5rem;
}

li:active, li:hover {
  color: var(--background-secondary);
  font-weight: bolder;
}

li.a:active, li.a:hover {
  color: var(--background-secondary);
  text-decoration: none;
}

ul#nav {
  max-height: 5rem;
}

#nav {
  text-align: justify;
  padding: 0;
}

#nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#nav li {
  display: inline-block;
  color: var(--font-primary);
}

svg {
  fill: var(--background-primary);
  height: 2rem;
  width: 2rem;
}

.header-titles {
  display: none;
}

ul li {
  display: inline;
  vertical-align: middle;
}

@media only screen and (min-width: 501px) {
  .header-titles {
    color: var(--background-primary);
    display: inline-block;
    font-size: 2.3rem;
  }
  .header-titles:active, .header-titles:hover {
    color: var(--background-secondary);
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1301px) {
  .header-titles {
    display: inline-block;
    font-size: 1.3rem;
  }
  .header-titles:active {
    font-size: 1.5rem;
  }
  li {
    color: var(--background-secondary);
    padding: 2rem;
    font-size: 2rem;
    line-height: 2rem;
  }
  ul#nav {
    max-height: 7.5rem;
  }
}

p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

@media only screen and (min-width: 500px) {
  p {
    line-height: 3rem;
    font-size: 2rem;
  }
}

section {
  background: var(--background-primary);
  border: solid 1rem var(--font-color-primary);
  border-radius: 1.5rem;
  color: var(--font-color-primary);
  line-height: 2rem;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 500px) {
  section {
    line-height: 3rem;
    padding: 6rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin: 5rem;
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
}

#span1:active,
#span1:hover, #span2:active,
#span2:hover, #span3:active,
#span3:hover, #span4:active,
#span4:hover {
  color: var(--font-color-link);
}

#span1:active,
#span1:hover, #span2:active,
#span2:hover, #span3:active,
#span3:hover, #span4:active,
#span4:hover {
  color: var(--font-color-secondary);
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  color: var(--font-color-primary);
  font-family: var(--font-primary);
  font-size: 2.5rem;
  line-height: 4rem;
  padding: 2rem;
  background-color: var(--background-primary);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: bold;
}

h4 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

#subtitle1, .subtitle2 {
  margin: 0;
}

.subtitle5, .subtitle6 {
  font-size: 1.3rem;
  padding: 2.5rem;
}

@media only screen and (min-width: 500px) {
  h1 {
    background-color: var(--background-secondary);
    font-size: 4rem;
    letter-spacing: 0.3rem;
    margin: 0;
    padding: 7rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 3;
  }
  h3 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
  h4 {
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 3rem;
  }
  .subtitle5 {
    font-size: 2rem;
    padding: 1.5rem;
  }
  .subtitle6 {
    font-size: 3rem;
    font-weight: bold;
    padding: 3.5rem;
  }
}
/*# sourceMappingURL=app2.css.map */