//things applicable to all items: 
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Orbitron', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body {

    background: rgb(53,34,195);
    background: linear-gradient(0deg, rgba(53,34,195,1) 0%, rgba(229,42,212,1) 74%, rgba(45,196,253,1) 100%);
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    font-family: var(--base-font-color);
    margin:0.5rem;
    padding:1rem;
    color: var(--base-font-color);
    font-family: var(--font-primary);
}

.links {
    font-family: var(--font-secondary); 
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color-second);
    font-family: var(--font-primary);
};



@media only screen and (min-width: 500px) {
    p {
        line-height: 1.7rem;
        padding:4rem;
        
    }
};